.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Yandex Tank ###
yandex-tank/
!yandex-tank/ammo.txt
!yandex-tank/load.yaml
!yandex-tank/README.md

### Local problems ###
/problems.txt
